<body>
  <div id="main">
    <h2>Hello, my name is Nick Brill and I test
    web applications but I would rather build them.
    </h2>
    <button id="work_btn"><%= link_to "View My Work", portfolio_path %></button>
  </div>
</body>
