<head>
  <title>My Portfolio</title>
</head>
<body>
  <div id="header">
    <div>Menu</div>
    <h1>Nick Brill</h1>
  </div>
  <div id="main">
    <h2>Hello, my name is Nick Brill and I test
    web applications but I would rather build them.</h2>
  </div>
  <button>View My Work</button>
  <div id="footer">
    <ul class="social_media">
      <li>
        <a class="github" href="#">github</a>
      </li>
      <li>
        <a class="linkedin" href="#">linkedin</a>
      </li>
      <li>
        <a class="twitter" href="#">twitter</a>
      </li>
      <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <p>© 2019 Nick Brill</p>
    </ul>
  </div>
</body>
