<body>
  <div id="slideshow">
    <h2>Here are some nice screenshots of what I have created</h2>
    <table>
      <thead>
        <th>App1</th>
        <th>App2</th>
        <th>App3</th>
        <tr>
          <td>
            <img href="">1st Image<img>
          </td>
          <td>
            <img>2nd Image<img>
          </td>
          <td>
            <img>3rd Image<img>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <div id=grid>
    <table>
      <thead>
        <th>App1</th>
        <th>App2</th>
        <th>App3</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <img href="">1st Image<img>
          </td>
          <td>
            <img>2nd Image<img>
          </td>
          <td>
            <img>3rd Image<img>
          </td>
        </tr>
        <tr>
          <td>
            <img href="">1st Image<img>
          </td>
          <td>
            <img>2nd Image<img>
          </td>
          <td>
            <img>3rd Image<img>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
