// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  width: 100%
}

#main {
  width: 100%;
  background-image: url("https://stmedia.stimg.co/1571446757_08+1009760332+1UPUK101919+206079.JPG?auto=compress&crop=faces&dpr=2.625&w=412");
  padding: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

#main h2 {
  color: #4CAF50;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#work_btn {
  float: right;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
