// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  width: 100%
}

#main {
  width: 100%;
  background-image: url("https://stmedia.stimg.co/1571446757_08+1009760332+1UPUK101919+206079.JPG?auto=compress&crop=faces&dpr=2.625&w=412")
}

.twitter {
  background-image: url("https://github.com/nickb27/portfolio/blob/master/app/assets/images/twitter.png")
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
